@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";
@custom-variant dark (&:where(.p-dark, .p-dark *));
@plugin "@tailwindcss/typography";

.p-toast {
  max-width: calc(100vw - 40px);
}